### Data Cleaning & Preprocessing

Import packages

In [10]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt

Load data

In [11]:
df_data = pd.read_csv("../dataset/data.csv")
df_data.head()

,date,home,away,home_goal,away_goal,home_shot,away_shot,home_shot_on_goal,away_shot_on_goal,home_possession_pct,away_possession_pct,home_corner,away_corner
0,2013-01-02,Newcastle United,Everton,1,2,17,13,5,6,0.50,0.50,4,6
1,2013-01-02,Liverpool,Sunderland,3,0,29,8,10,2,0.66,0.34,9,5
2,2013-01-02,Chelsea,Queens Park Rangers,0,1,26,7,2,3,0.64,0.36,14,2
3,2013-01-01,Southampton,Arsenal,1,1,9,6,5,1,0.44,0.56,3,3
4,2013-01-12,Sunderland,West Ham United,3,0,18,11,7,3,0.48,0.52,4,5

In [12]:
df_data.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 3764 entries, 0 to 3763
Data columns (total 13 columns):
 #   Column               Non-Null Count  Dtype
---  ------               --------------  -----
 0   date                 3764 non-null   object
 1   home                 3764 non-null   object
 2   away                 3764 non-null   object
 3   home_goal            3764 non-null   int64
 4   away_goal            3764 non-null   int64
 5   home_shot            3764 non-null   int64
 6   away_shot            3764 non-null   int64
 7   home_shot_on_goal    3764 non-null   int64
 8   away_shot_on_goal    3764 non-null   int64
 9   home_possession_pct  3764 non-null   float64
 10  away_possession_pct  3764 non-null   float64
 11  home_corner          3764 non-null   int64
 12  away_corner          3764 non-null   int64
dtypes: float64(2), int64(8), object(3)
memory usage: 382.4+ KB

Get missing values

In [13]:
df_data.isnull().sum()

date                   0
home                   0
away                   0
home_goal              0
away_goal              0
home_shot              0
away_shot              0
home_shot_on_goal      0
away_shot_on_goal      0
home_possession_pct    0
away_possession_pct    0
home_corner            0
away_corner            0
dtype: int64

Remove data duplicates

In [14]:
df_data.drop_duplicates()
df_data.head()

,date,home,away,home_goal,away_goal,home_shot,away_shot,home_shot_on_goal,away_shot_on_goal,home_possession_pct,away_possession_pct,home_corner,away_corner
0,2013-01-02,Newcastle United,Everton,1,2,17,13,5,6,0.50,0.50,4,6
1,2013-01-02,Liverpool,Sunderland,3,0,29,8,10,2,0.66,0.34,9,5
2,2013-01-02,Chelsea,Queens Park Rangers,0,1,26,7,2,3,0.64,0.36,14,2
3,2013-01-01,Southampton,Arsenal,1,1,9,6,5,1,0.44,0.56,3,3
4,2013-01-12,Sunderland,West Ham United,3,0,18,11,7,3,0.48,0.52,4,5

In [15]:
df_data.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 3764 entries, 0 to 3763
Data columns (total 13 columns):
 #   Column               Non-Null Count  Dtype
---  ------               --------------  -----
 0   date                 3764 non-null   object
 1   home                 3764 non-null   object
 2   away                 3764 non-null   object
 3   home_goal            3764 non-null   int64
 4   away_goal            3764 non-null   int64
 5   home_shot            3764 non-null   int64
 6   away_shot            3764 non-null   int64
 7   home_shot_on_goal    3764 non-null   int64
 8   away_shot_on_goal    3764 non-null   int64
 9   home_possession_pct  3764 non-null   float64
 10  away_possession_pct  3764 non-null   float64
 11  home_corner          3764 non-null   int64
 12  away_corner          3764 non-null   int64
dtypes: float64(2), int64(8), object(3)
memory usage: 382.4+ KB

Add result column to the dataframe (3: home, 1: draw, 0: away)

In [16]:
df_data['result'] = 1
df_data.loc[df_data['home_goal'] > df_data['away_goal'], 'result'] = 3
df_data.loc[df_data['home_goal'] < df_data['away_goal'], 'result'] = 0
df_data.head()

,date,home,away,home_goal,away_goal,home_shot,away_shot,home_shot_on_goal,away_shot_on_goal,home_possession_pct,away_possession_pct,home_corner,away_corner,result
0,2013-01-02,Newcastle United,Everton,1,2,17,13,5,6,0.50,0.50,4,6,0
1,2013-01-02,Liverpool,Sunderland,3,0,29,8,10,2,0.66,0.34,9,5,3
2,2013-01-02,Chelsea,Queens Park Rangers,0,1,26,7,2,3,0.64,0.36,14,2,0
3,2013-01-01,Southampton,Arsenal,1,1,9,6,5,1,0.44,0.56,3,3,1
4,2013-01-12,Sunderland,West Ham United,3,0,18,11,7,3,0.48,0.52,4,5,3

In [17]:
df_data.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 3764 entries, 0 to 3763
Data columns (total 14 columns):
 #   Column               Non-Null Count  Dtype
---  ------               --------------  -----
 0   date                 3764 non-null   object
 1   home                 3764 non-null   object
 2   away                 3764 non-null   object
 3   home_goal            3764 non-null   int64
 4   away_goal            3764 non-null   int64
 5   home_shot            3764 non-null   int64
 6   away_shot            3764 non-null   int64
 7   home_shot_on_goal    3764 non-null   int64
 8   away_shot_on_goal    3764 non-null   int64
 9   home_possession_pct  3764 non-null   float64
 10  away_possession_pct  3764 non-null   float64
 11  home_corner          3764 non-null   int64
 12  away_corner          3764 non-null   int64
 13  result               3764 non-null   int64
dtypes: float64(2), int64(9), object(3)
memory usage: 411.8+ KB

Save clean data to csv file

In [18]:
df_data.to_csv("../dataset/cleaned_data.csv", index=False)